/* carusell flickery options */

.gallery {
    background: #EEE;
    margin: 50px;
}

.gallery-cell {
    width: 90%;
    height: 400px;
    margin-right: 10px;
    background: rgb(233, 233, 233);
    counter-increment: gallery-cell;
    border-radius: 20px;
    overflow: hidden;
}

.main-gallery {
    margin-left: 20px;
    margin-right: 20px;
}

.gallery-cell img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.gallery-cell h1 {
    font-size: 40px;
    text-align: left;
    color: rgb(0, 20, 75);
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.gallery-cell h2 {
    font-size: 20px;
    color: rgb(78, 78, 78);
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.read-more {
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    color: black;
}

.gallery-cell .arrow {
    width: 15px;
    height: 15px;
}

/* cell number */

.gallery-cell:before {
    display: block;
    text-align: center;
    /* content: counter(gallery-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
}

@media screen and ( min-width: 768px) {
    .gallery-cell {
        width: 30%;
    }
    .main-gallery {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and ( min-width: 1300px) {
    .gallery-cell {
        width: 19.5%;
    }
    .main-gallery {
        margin-left: 12vw;
        margin-right: 12vw;
    }
}

/* top info grid system */

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 12vw;
    margin-right: 12vw;
    padding-top: 80px;
    padding-bottom: 80px;
    column-gap: 20px;
    row-gap: 25px;
}

.grid-1 div {
    background-color: #2d4a79;
    min-height: 250px;
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-1 div:nth-child(2n) {
    background-color: #f3f3f3;
    color: #325286;
}

@media screen and ( min-width: 768px) {
    .grid-1 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and ( min-width: 1300px) {
    .grid-1 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* nav css */

.brand img {
    height: 50px;
    width: auto;
}

nav {
    font-size: 10px;
}

.container2 {
    margin-left: 12vw;
    margin-right: 12vw;
}

/* Who are we  */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 45px;
}


.grid img {
    border-radius: 10px;
}
@media screen and ( min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}


/* sponsor */
.sponsor {
    background-color: rgb(255, 70, 70);
    height: 300px;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}



.sponsor a h2 {
    font-size: 10vw;
    color: black;
    margin: 0;
}

.sponsor div {
    padding: 30px;
    
}
@media screen and ( min-width: 768px) {
    .sponsor a h2 {
        font-size: 80px;
        
    }
    .sponsor {
        background-color: rgb(255, 70, 70);
        height: 500px;
        max-width: 500px;
        margin: auto;
    }
}
/* current sponsors */

.sponsor-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}

.info {
    text-align: center;
}

.sponsor-grid>div {
    height: 300px;
    margin: 30px;
}

.sponsor-img {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and ( min-width: 768px) {
    .sponsor-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and ( min-width: 1300px) {
    .sponsor-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* footer */

.footer-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 40px;
    row-gap: 45px;
}
.footer-grid div img {
    max-height: 100px;
    width: auto;
 }
.row p{
    text-align: center;
    margin: auto;
}
#contact{
    color: white;
    /* padding-top: 20px; */
    font-size: 17px;
}
.copyright{
    width: 100%;
}
@media screen and ( min-width: 768px) {
    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and ( min-width: 1300px) {
    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin: 16px 15px;
    
}
    em {
      margin-left: 10px;
      font-size: 1rem;
    }
  
  .theme-switch {
    display: inline-block;
    padding-top: 20px;
    height: 24px;
    position: relative;
    width: 40px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 1px;
    content: "";
    height: 22px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 20px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }